In [5]:
# Import numpy, pandas, and os libraries 
import numpy as np 
import pandas as pd 
import os

# load CSV files 
csv_directory = os.getcwd()
csv_files = [f for f in os.listdir(csv_directory) if f.endswith('.csv')]

#Create a new folder called Output in the current working directory if it doesn't exist 
output_file_path = os.path.join(csv_directory, 'Output')
if not os.path.exists(output_file_path):
    os.makedirs(output_file_path)

for csv in csv_files:
    data = pd.read_csv(csv)  #Read CSV files 
    line_id = data.iloc[0,2] #Select line id 
    line_id = line_id[11:] #Strip unwanted data from line ID 
    data['ID'] = line_id # Insert a new column with line ID 
    data1 = data.drop(index = 0) # Delete first row with unwanted data and create a new dataframe 
     
    # Export the Columns of interest to CSV
    MPES = data1[['Position: MPES: East', 'North.6', 'ID']]
    MPES_file_name = os.path.join(output_file_path, line_id + '_MPES.csv')
    MPES.to_csv(MPES_file_name, index=None)

    SBES = data1[['Position: SBES: East', 'North.7', 'ID']]
    SBES_file_name = os.path.join(output_file_path, line_id + '_SBES.csv')
    SBES.to_csv(SBES_file_name, index=None)

C:\Users\A.S.O.L\FreeCodeCamp\SSDM Test\Output\PT004\.csv

In [7]:
data

,Events,Time,Gyro: NMEA1 Gyro,Gyro: NMEA1 Gyro 2,Position: Vessel Ref (Priority 1): East,North,Position: Vessel Ref (Priority 2): East,North.1,Position: GPS 1 PRIM: East,North.2,...,North.4,Position: GPS2 (SEC): East,North.5,Position: MPES: East,North.6,Position: SBES: East,North.7,Data: NMEA 183 Depth {ES},Unnamed: 21,ID
0,Runlineinfo: id: 27,name:PL05C012,longname: PL054,start: 320418.00,151813.00 end: 320418.00,152814.0000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PL054
1,-9999,29-08-2023 16:17:18,187.9100,186.8000,320409.5116,152842.2811,320409.6447,152842.2223,320407.7673,152837.7465,...,152837.7542,320410.5183,152837.3893,320410.4867,152837.1745,320407.0132,152837.7392,12.64,NaN,PL054
2,54,29-08-2023 16:17:28,183.4100,184.1400,320421.1438,152824.5569,320421.2543,152824.6369,320419.7606,152819.8994,...,152819.8949,320422.5463,152819.8986,320422.5165,152819.5426,320419.0095,152819.8330,13.24,NaN,PL054
3,54,29-08-2023 16:17:38,206.6100,207.4200,320431.7396,152807.6339,320431.7201,152807.6392,320428.6335,152803.8980,...,152803.8743,320431.0647,152802.7718,320431.0259,152802.4843,320427.9169,152804.1329,12.71,NaN,PL054
4,54,29-08-2023 16:17:48,229.9100,230.3200,320438.1677,152793.3941,320438.2353,152793.3475,320433.8372,152791.1915,...,152791.1659,320435.6999,152789.1412,320435.4753,152788.9468,320433.2719,152791.6906,13.41,NaN,PL054
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,54,29-08-2023 16:29:49,226.2100,225.6500,320416.5680,151843.4590,320416.5369,151843.3059,320412.3886,151840.9815,...,151840.9943,320414.2307,151838.9696,320414.1682,151838.8472,320411.7924,151841.4431,10.63,NaN,PL054
77,54,29-08-2023 16:29:59,212.8100,210.8200,320409.0956,151833.2394,320409.1422,151833.4869,320405.6041,151829.8608,...,151830.1126,320407.5950,151828.8256,320407.8299,151828.1970,320404.9171,151830.1717,10.49,NaN,PL054
78,54,29-08-2023 16:30:09,169.2100,165.6400,320410.1112,151821.8702,320410.0710,151822.1878,320409.9128,151817.0158,...,151817.0344,320412.2269,151817.7749,320412.6720,151817.3458,320409.2009,151816.7671,10.42,NaN,PL054
79,54,29-08-2023 16:30:19,146.3100,145.6500,320420.4294,151810.0277,320420.4380,151810.2041,320422.1355,151805.4786,...,151805.4411,320424.2461,151807.1025,320424.5489,151806.8564,320421.5765,151804.9725,10.44,NaN,PL054
80,54,29-08-2023 16:30:29,153.0100,155.7000,320435.7418,151799.0414,320436.0725,151798.7394,320436.9056,151794.3244,...,151794.4042,320439.7756,151795.5133,320439.4632,151795.4111,320436.2913,151793.8870,10.34,NaN,PL054